<mat-toolbar>
  <mat-toolbar-row class="row1">
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
      <ul fxLayout fxLayoutGap="30px" class="navigating-items1">
        <li>
          <a href="/"
            ><mat-icon>phone</mat-icon><span> Call: +880123456789</span></a
          >
        </li>
        <li>
          <a href="/"
            ><mat-icon>location_on</mat-icon><span>Dhaka, Bangladesh</span></a
          >
        </li>
      </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="30px" class="navigating-items1">
        <li>
          <a href="/"><mat-icon>facebook</mat-icon></a>
        </li>
        <li>
          <a href="/"><mat-icon>facebook</mat-icon></a>
        </li>
        <li>
          <a href="/"><mat-icon>facebook</mat-icon></a>
        </li>
        <li>
          <a href="/"><mat-icon>facebook</mat-icon></a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row2">
    <button mat-icon-button><mat-icon>donut_small</mat-icon></button>
    <h1>CARE PLUS</h1>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="30px" class="navigating-items2">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Doctors</a></li>
        <li><a routerLink="/">Contact</a></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <img
    [height]="300"
    src="https://thumbs.dreamstime.com/b/medicine-doctor-stethoscope-touching-medical-icons-network-medicine-doctor-stethoscope-touching-icons-medical-network-111489030.jpg"
  />
</div>
